/1_helloworlf/build/
/1_helloworlf/dist/
/2_datatype_1/build/
/2_datatype_1/dist/
/2_datatype/build/
/2_datatype/dist/
/3_variable/build/
/3_variable/dist/
/4_constant-1/dist/
/4_constant-1/build/
/5_constant-2/dist/
/5_constant-2/build/
/6_user-input/build/
/6_user-input/dist/
/7_user-input/build/
/7_user-input/dist/
/8_input-ouput/dist/
/8_input-ouput/build/
/9_input-output/build/
/9_input-output/dist/
/10_input-output/build/
/10_input-output/dist/
/11_input-output/build/
/11_input-output/dist/
/12_input-output/dist/
/12_input-output/build/
/13_input-output/dist/
/13_input-output/build/
/14_formatted-input/dist/
/14_formatted-input/build/
/14_format-string/build/
/14_format-string/dist/